/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #EDF3F8;
  
}

.app {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.transparent-btn,
.access-btn,
.form-btn {
  padding: 0.5em 2em;
  font-family: 'Public Sans', 'Serif';
  font-weight: 500;
  color: var(--ff-light);
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-light);
  border-radius: 25px;
  z-index: 10;
}

.access-btn,
.form-btn {
  background-color: var(--bg-light);
  border: 1px solid var(--bg-dark);
  color: var(--ff-dark);
  margin-top: 1.5em;
  padding: 0.5em 1.5em;
}

.form-btn {
  width: 200px;
  align-self: center
}

.transparent-btn:hover, 
.transparent-btn:focus {
  background-color: var(--bg-light);
  color: var(--ff-dark);
  cursor: pointer;
}

.access-btn:hover, 
.access-btn:focus,
.form-btn:hover, 
.form-btn:focus {
  background-color: var(--bg-dark);
  color: var(--ff-light);
  cursor: pointer;
}

@media(min-width: 768px) {
  .form-btn {
    align-self: start;
  }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --ff-dark: #36536B;
  --ff-light: #FBFCFE;
  --ff-red: #BA4270;
  --ff-grey: #6C8294;

  --bg-light: #EDF3F8;
  --bg-dark: #1B262F;
  --bg-red: #BA4270;
  
}


/* Typeography */
H1 {font-family: 'DM Serif Display', serif; font-weight: normal; font-size: 36px;}
H2 {font-family: 'DM Serif Display', serif; font-weight: normal; font-size: 32px;}
H3 {font-family: 'DM Serif Display', serif; font-weight: normal; font-size: 28px;}
H4 {font-family: 'DM Serif Display', serif; font-weight: normal; font-size: 24px;}
H5 {font-family: 'DM Serif Display', serif; font-weight: normal; font-size: 24px;}

p {font-family:'Public Sans', sans-serif; font-weight: 400; font-size: 16px;}

@media (min-width: 768px) {
    H1 {font-family: 'DM Serif Display', serif; font-weight: normal; font-size: 72px;}
    H2 {font-family: 'DM Serif Display', serif; font-weight: normal; font-size: 56px;}
    H3 {font-family: 'DM Serif Display', serif; font-weight: normal; font-size: 36px;}
    H4 {font-family: 'DM Serif Display', serif; font-weight: normal; font-size: 28px;}
    H5 {font-family: 'DM Serif Display', serif; font-weight: normal; font-size: 24px;}
    
    p {font-family: 'Public Sans', sans-serif; font-weight: 300; font-size: 15px;}
}

.font-dark {
  color: var(--ff-dark);
}

.font-light {
  color: var(--ff-light);
}

.font-red {
  color: var(--ff-red);
}

.font-gray {
  color: #6C8294;
}

/* colors */

.bg-light {
  background-color: var(--bg-light);
}

.bg-dark {
  background-color: var(--bg-dark);
}

.bg-red {
  background-color: var(--bg-red);
}

/* images */

.smartphone-img {
  margin-left: 2em;
  height: 250px;
  z-index: 1;
}

/* Navbar */

.navbar {
  background-color: var(--bg-light);
  /* background-image: url(/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: top -245px right -200px; */
  color: var(--bg-dark);
}

.nav-link {
  color: #FBFCFE;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 0.5em;
}

.nav-link:hover,
.nav-link:focus {
  color: #5e666c;
}

.navbar-logo {
  margin-right: 2em;
}

.menu-toggle {
  z-index: 10;
  
}

.nav-bar-mobile,
.offcanvas {
  background-color: #1B262F !important;
  color: #fff !important;
  margin-left: 0;
  width: 250px;
}

.btn-close {
  color: #fff;
}

.btn-mobile {
  display: block;
}

.nav-bar-mobile-expanded {
  margin-left: -250px
}




@media (min-width: 992px) {
  .btn-mobile {
    display: none;
  }

  .nav-link {
    color: #36536B;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 0;
  }
}

/* section 1 */

.section1 {
  position: relative;
  overflow: hidden;
  background-color: var(--bg-light);
}

.background-circle,
.background-circle-2,
.background-circle-3,
.background-circle-4 {
  z-index: 1;
  position: absolute;
  top: -200px;
  width: 1080px; 
}

.background-circle-3 {
  visibility: hidden;
}


.hero-text {
  text-align: center;
}

.hero-form,
.info-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: static;
  margin: 0 auto;
}

.submit-btn {
  display: static;
  background-color: var(--bg-red);
  color: var(--ff-light);
  border: none;
  border-radius: 25px;
  font-weight: 500;
  padding: 0.5em;
  width: 90%;
  align-self: center;
}

.submit-btn:hover {
  background-color: #bb6083;
}

.left {
  display: none;
}

.email-input {
  border-radius: 20px;
  /* padding-inline-start: 0.5em; */
  padding: 0.5em 1em;
  border: none;
  width: 90%;
  align-self: center;
}

.contact-text {
  align-self: center;
  margin-top: 2em;
  color: var(--ff-grey);
}


@media (min-width: 768px) {

.background-circle {
  top: -340px;
  right: -150px;
  width: 580px;
  
}

.background-circle-2 {
  top: -440px;
  left: -200px;
  width: 780px;
}

.background-circle-3 {
  visibility: visible;
  top: 20%;
  left: 75%;
  width: 780px;
}


.smartphone-img {
  height: 550px;
}

}

@media (min-width: 992px) {
  .hero-form,
  .info-form {
  flex-direction: row;
  position: relative;
}

.hero-form {
  margin: 0;
}

.hero-text {
  text-align: left;
}

.email-input {
  width: 350px;
  outline: none;
  cursor: pointer;
}

.submit-btn {
  position: absolute;
  top: 0;
  right: 30px;
  z-index: 1;
  width: 200px;
}

.contact-text {
  align-self: start;
}

.left {
  display: inline-block;
  margin-right: 5em;
  margin-top: 1.5em;
  align-self: center;
}
}

/* partners section */

.client-logos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: center;
  /* gap: 0.5em; */
  padding: 0 1em;
  margin-bottom: 3em;
}

.logo {
  color: #fff;
  margin: 1em;
}

.partner-text {
  text-align: center;
  line-height: 2.0;
}

@media(min-width: 768px) {
  .partner-text {
    text-align: left;
    padding-right: 5em;
  }

  .client-logos {
    gap: 0.5em
  }
}

/* Info Image */

.info-img {
  width: 100px;
}

.info-title {
  font-size: 18px;
  font-weight: 500;
}

.info-illustrations {
  margin-left: 1em;
  z-index: 2;
}


@media(min-width: 768px) {
  .info-illustrations {
    margin-left: 0;
  }
}

.footer {
  background-color: var(--bg-dark);
  color: #fff;
  padding: 2em;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.social-icons {
  display: flex;
  gap: 1em;
  justify-content: center;
}

@media (max-width: 568px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .social-icons {
    align-items: center;
    justify-content: center;
  }
}

.footer-link {
  color: rgba(251, 252, 254, 0.8);
}

/* Pricing */

.plan {
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(54, 83, 107, 0.4);
  margin-bottom: 1em;
}

.plan-features {
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(54, 83, 107, 0.4);
}

.plan-text-desc {
  text-align: center;
  color: var(--ff-grey);
}

.price-numbers {
  font-size: 56px;
}

.plan-list-item {
  margin-bottom: 1em;
}

.tick {
  color: var(--ff-red);
  margin-right: 1em;
}

.unavailable-text {
  opacity: 0.4;
}

@media (min-width: 769px) {
  .plan-text-desc {
    text-align: left;
    
  }
}

/* About Page */

.about-container {
  padding: 1em;
}

.about-header {
  padding-right: 0
}

.page-break {
  width: 100%;
  height: 350px;
  background-color: #D8D8D8;
  background-image: url(/mobile-team-members.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  object-fit: cover;
  background-repeat: no-repeat;
}

.about-figures {
  font-size: 56px !important;
}

.stats-group {
  border-top: 1px solid rgba(54, 83, 107, 0.4);
  border-bottom: 1px solid rgba(54, 83, 107, 0.4);
  padding: 1.5em 0;
}

.stats {
  border-top: none;
  border-bottom: none;
}

@media (min-width: 992px) {
  .about-header {
    padding-right: 5em;
  }

  .about-container {
    padding: 0 6em;
  }

  .stats-group {
    border: none;
  }

  .stats {
    border-top: 1px solid rgba(54, 83, 107, 0.4);
    border-bottom: 1px solid rgba(54, 83, 107, 0.4);
    padding: 1em 0;
    width: 350px;
  }

  .page-break {
    background-image: url(/image-team-members.jpg);
    
  }
}

/* Form */

form {
  display: flex;
  flex-direction: column;
}

.contact-form > input {
  border: none;
  border-bottom: 1px solid rgba(54, 83, 107, 0.4);
  background-color: var(--bg-light);
  color: var(--bg-dark);
  margin: 1em 0;
  outline: none; 
}

label {
  font-weight: bold;
  color: var(--ff-dark);
}

.message {
  width: 100%; 
  min-height: 150px; 
  resize: vertical; 
  overflow: auto; 
  word-wrap: break-word;
  margin-bottom: 1.5em;
  padding: 0.5em;
  background-color: var(--bg-light);
  color: var(--bg-dark); 
  border: none;
  border-bottom: 1px solid rgba(54, 83, 107, 0.4);
  outline: none;
  line-height: 2.0;
  
}

.checkbox {
  margin-right: 1em;
}

.innovators {
  padding: 0 4em;
}

.client-logos-dark {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  width: 100%;
  align-items: center;
  margin-top: 1em;
}

.logo-dark {
  width: 125px;
  margin-right: 1em;
  margin-bottom: 1.5em;
}

.error {
  color: red;
  margin-top: 0;
}

@media (min-width: 768px) {
  .client-logos-dark {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
  }

  .logo-dark {
    margin: 1em 0;
  }
}

